---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostSummary from "../components/PostSummary.astro";
const pageTitle = "Home"
const allPosts = await Astro.glob("./posts/*.md")
---
<BaseLayout pageTitle={pageTitle}>
	<section>
		<h1>Header</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum qui dolor ipsa quis, nihil veniam ea iure distinctio minus voluptatibus magnam, sed officia modi a soluta asperiores nesciunt dignissimos neque.
		</p>
	</section>
	<div>
		{allPosts.map((post) => <PostSummary 
			title = {post.frontmatter.title}
			url = {post.url}
			date = {post.frontmatter.date}
			description = {post.frontmatter.description}
			tags = {post.frontmatter.tags}
		/>)}
	</div>
</BaseLayout>